<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_again01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,324},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_again02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,324},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_more01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,453},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_more02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,324},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_next01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_next02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>game_over.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7a0341eed7e623f1f8683b2396ebc0$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
