<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{286,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,138}}</string>
                <key>sourceSize</key>
                <string>{286,138}</string>
            </dict>
            <key>button_back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,975},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,940},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_difficuty01.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,811},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_difficuty02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_high01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,682},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_high02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,827},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_more01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_more02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_no01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_no02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,811},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_play01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,875},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_play02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,679},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_submit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,863},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_submit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,863},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_time01.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,646},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_time02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,646},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>button_yes01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>button_yes02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,682},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>checkbox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,24},{19,18}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,18}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>checkbox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,646},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,679},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{88,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,47}}</string>
                <key>sourceSize</key>
                <string>{88,47}</string>
            </dict>
            <key>game_start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>game_start02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>share_r.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{142,715},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>sound01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,827},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>sound02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,780},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>word.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,934},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34548e949bfe4887e2d8e7983d769f40$</string>
            <key>textureFileName</key>
            <string>mainmenu.png</string>
        </dict>
    </dict>
</plist>
