<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bridge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{266,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,89}}</string>
                <key>sourceSize</key>
                <string>{266,89}</string>
            </dict>
            <key>ground36.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{193,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,130}}</string>
                <key>sourceSize</key>
                <string>{193,130}</string>
            </dict>
            <key>ground37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{136,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,105}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>ground38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,130}}</string>
                <key>sourceSize</key>
                <string>{303,130}</string>
            </dict>
            <key>life01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,495},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>life02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,224},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>man01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,469},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>man02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,352},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>man03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,352},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>man04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,454},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>man05.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,307},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>man06.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,351},{35,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{35,59}</string>
            </dict>
            <key>man07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,307},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>man08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,165},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>man11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,354},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>man12.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,225},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>man21.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,134},{70,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>man22.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,134},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>man23.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,450},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>man24.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,388},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>man25.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,289},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>man26.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,214},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>man27.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,397},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>man28.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,134},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>man31.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,389},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>man32.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,134},{72,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{72,111}</string>
            </dict>
            <key>man33.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,399},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>man34.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,401},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>man35.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,247},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>man36.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,224},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>man41.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,47},{43,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,3}}</string>
                <key>sourceSize</key>
                <string>{43,3}</string>
            </dict>
            <key>man42.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{43,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,8}}</string>
                <key>sourceSize</key>
                <string>{43,8}</string>
            </dict>
            <key>man43.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,495},{43,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,14}}</string>
                <key>sourceSize</key>
                <string>{43,14}</string>
            </dict>
            <key>man44.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,134},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>man45.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,134},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>man46.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,287},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>man51.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,354},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>man52.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,183},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>man53.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,209},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>man61.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,134},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>man62.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,134},{34,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,73}}</string>
                <key>sourceSize</key>
                <string>{34,73}</string>
            </dict>
            <key>man63.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,247},{42,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,89}}</string>
                <key>sourceSize</key>
                <string>{42,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9613ed942fd225362c2f18af82f8b918$</string>
            <key>textureFileName</key>
            <string>sprite2.png</string>
        </dict>
    </dict>
</plist>
