<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,796},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>dinosaur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,628},{78,80}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{80,78}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{84,84}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{80,84}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{78,84}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,610},{78,80}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{112,68}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{112,62}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur23.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,351},{110,66}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,285},{112,64}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,302},{112,60}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur26.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,234},{112,66}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dinosaur31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,42}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur32.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,410},{102,54}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur33.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{102,52}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur34.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,106},{96,52}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur35.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,356},{96,46}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dinosaur36.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,204},{102,54}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,487},{82,84}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,571},{80,84}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,454},{80,86}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,672},{42,42}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{126,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,116},{154,116}}</string>
                <key>offset</key>
                <string>{-51,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{204,112}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,112}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,156}}</string>
                <key>offset</key>
                <string>{-128,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{248,156}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>flower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,799},{64,70}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>flower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{68,78}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,540},{70,82}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,708},{66,72}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,542},{66,82}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>grass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,612},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>man01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,716},{40,60}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,726},{36,62}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,701},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,776},{56,58}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,639},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,770},{36,60}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,612},{44,58}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,826},{54,58}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,515},{46,60}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,778},{60,58}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,476},{70,88}}</string>
                <key>offset</key>
                <string>{-29,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man22.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,653},{76,78}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man23.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,764},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man24.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,734},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{60,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man26.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,674},{58,74}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man27.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,234},{36,70}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man28.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,419},{30,32}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man31.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,116},{48,64}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man32.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,160},{72,112}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man33.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,419},{66,92}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man34.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,364},{66,92}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man35.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,342},{66,106}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man36.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,542},{66,82}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man41.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,160},{44,4}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,4}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man42.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,268},{44,8}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,8}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man43.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,502},{44,14}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man44.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,466},{34,22}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man45.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,306},{48,48}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man46.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,453},{60,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man51.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,577},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man52.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,840},{54,52}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man53.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,364},{68,30}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>man61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{34,66}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man62.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,690},{34,74}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man63.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,432},{42,90}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,182},{18,28}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,548},{24,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,734},{40,34}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,763},{40,36}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,260},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>stone02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,234},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>trap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{88,34}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>trap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,731},{78,66}}</string>
                <key>offset</key>
                <string>{-25,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>trap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,466},{84,72}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1d2035da6206e7d02b0cbfff69b036$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
