<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,876},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>bridge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,134},{266,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,89}}</string>
                <key>sourceSize</key>
                <string>{266,89}</string>
            </dict>
            <key>dinosaur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,370},{78,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,370},{80,78}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,938},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur14.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,260},{80,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur15.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,940},{78,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur16.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,941},{78,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur21.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,657},{112,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur22.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,768},{112,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur23.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,519},{110,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur24.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,519},{112,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur25.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,633},{112,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur26.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,452},{112,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur31.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,734},{101,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,48}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur32.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,631},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur33.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,519},{101,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur34.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,519},{97,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur35.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,622},{97,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur36.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,882},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{82,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,261},{80,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,81}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{80,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>flash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,897},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,370},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,134},{203,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,111}}</string>
                <key>sourceSize</key>
                <string>{203,111}</string>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,247},{248,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,156}}</string>
                <key>sourceSize</key>
                <string>{248,156}</string>
            </dict>
            <key>flower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,452},{63,69}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,937},{69,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,343},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,488},{67,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>gameover_stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,771},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,519},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,645},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,519},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,771},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,771},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,778},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,778},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gosign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,344},{116,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,149}}</string>
                <key>sourceSize</key>
                <string>{116,149}</string>
            </dict>
            <key>ground31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{113,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,265}}</string>
                <key>sourceSize</key>
                <string>{113,265}</string>
            </dict>
            <key>ground32.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,225},{117,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,265}}</string>
                <key>sourceSize</key>
                <string>{117,265}</string>
            </dict>
            <key>ground33.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,344},{106,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,265}}</string>
                <key>sourceSize</key>
                <string>{106,265}</string>
            </dict>
            <key>ground34.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,260},{108,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,265}}</string>
                <key>sourceSize</key>
                <string>{108,265}</string>
            </dict>
            <key>ground35.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,645},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>ground36.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{193,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,130}}</string>
                <key>sourceSize</key>
                <string>{193,130}</string>
            </dict>
            <key>ground37.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,519},{136,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,105}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>ground38.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{303,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,130}}</string>
                <key>sourceSize</key>
                <string>{303,130}</string>
            </dict>
            <key>life01.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,495},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>life02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>man01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,897},{40,60}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man02.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,452},{36,62}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,874},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,879},{56,58}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man05.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,812},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,774},{36,60}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man07.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,606},{44,58}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man08.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,881},{54,58}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man11.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,712},{46,60}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,609},{60,58}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man21.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,519},{70,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>man22.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,940},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>man23.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,937},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man24.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,814},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man25.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,815},{60,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man26.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,937},{58,74}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man27.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,712},{36,70}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man28.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,134},{30,32}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man31.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,452},{48,64}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man32.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,664},{72,112}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man33.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,618},{66,92}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man34.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,721},{66,92}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man35.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,747},{66,106}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man36.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,260},{66,82}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>man41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{44,4}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,4}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man42.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,247},{44,8}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,8}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man43.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,497},{44,14}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man44.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,495},{34,22}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man45.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,516},{48,48}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man46.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,784},{60,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man51.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,452},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man52.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,881},{54,52}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man53.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,191},{68,30}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>man61.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,712},{34,66}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man62.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,452},{34,74}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man63.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,837},{42,90}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>number_ingame.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,519},{143,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,13}}</string>
                <key>sourceSize</key>
                <string>{143,13}</string>
            </dict>
            <key>pause01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,566},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>pause02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,671},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>score01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,671},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,497},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,166},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,566},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>star04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,904},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,414},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>stopsign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{116,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,149}}</string>
                <key>sourceSize</key>
                <string>{116,149}</string>
            </dict>
            <key>trap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,904},{88,34}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>trap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,939},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{78,66}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>trap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,937},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6049b11017b97aef6dc238bc7bc6103c$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
