<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{58,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bridge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,746},{266,90}}</string>
                <key>offset</key>
                <string>{-123,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,90}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>gosign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,134},{116,150}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>grass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,364},{76,60}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ground31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{114,266}}</string>
                <key>offset</key>
                <string>{-7,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,266}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ground32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{118,266}}</string>
                <key>offset</key>
                <string>{-5,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,266}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ground33.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,478},{106,266}}</string>
                <key>offset</key>
                <string>{-11,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,266}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ground34.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,426},{108,266}}</string>
                <key>offset</key>
                <string>{-10,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,266}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ground35.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,240},{122,76}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ground36.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{194,130}}</string>
                <key>offset</key>
                <string>{-31,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground37.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,370},{136,106}}</string>
                <key>offset</key>
                <string>{-60,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,106}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ground38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,130}}</string>
                <key>offset</key>
                <string>{-103,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{304,130}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,134},{104,80}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>stone02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{122,50}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>stopsign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,252},{116,150}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22b8744572148042e894e04e13156adf$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
