<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,865},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>bridge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,134},{266,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,89}}</string>
                <key>sourceSize</key>
                <string>{266,89}</string>
            </dict>
            <key>dinosaur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,260},{78,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,260},{80,78}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,497},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur14.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,260},{80,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,497},{78,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{78,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>dinosaur21.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,587},{112,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur22.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,587},{112,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur23.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,701},{110,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,701},{112,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur25.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,835},{112,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur26.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,836},{112,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>dinosaur31.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,488},{101,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,48}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur32.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,587},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur33.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,452},{101,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur34.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,690},{97,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur35.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,797},{97,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>dinosaur36.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,694},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{82,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,261},{80,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,81}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,260},{80,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>flash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,452},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,725},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,134},{203,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,111}}</string>
                <key>sourceSize</key>
                <string>{203,111}</string>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,247},{248,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,156}}</string>
                <key>sourceSize</key>
                <string>{248,156}</string>
            </dict>
            <key>flower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,926},{63,69}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,926},{69,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,343},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>flower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,949},{67,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>gameover_stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,839},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,587},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,713},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,979},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,853},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,853},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,853},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gameover_stage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,587},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>gosign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,344},{116,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,149}}</string>
                <key>sourceSize</key>
                <string>{116,149}</string>
            </dict>
            <key>ground31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{113,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,265}}</string>
                <key>sourceSize</key>
                <string>{113,265}</string>
            </dict>
            <key>ground32.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,225},{117,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,265}}</string>
                <key>sourceSize</key>
                <string>{117,265}</string>
            </dict>
            <key>ground33.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,344},{106,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,265}}</string>
                <key>sourceSize</key>
                <string>{106,265}</string>
            </dict>
            <key>ground34.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,342},{108,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,265}}</string>
                <key>sourceSize</key>
                <string>{108,265}</string>
            </dict>
            <key>ground35.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,713},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>ground36.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{193,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,130}}</string>
                <key>sourceSize</key>
                <string>{193,130}</string>
            </dict>
            <key>ground37.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,587},{136,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,105}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>ground38.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{303,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,130}}</string>
                <key>sourceSize</key>
                <string>{303,130}</string>
            </dict>
            <key>life01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,306},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>life02.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,950},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>man01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,452},{40,60}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,452},{36,62}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man03.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,715},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man04.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,807},{56,58}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man05.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,925},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man06.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,452},{36,60}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man07.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,649},{44,58}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,865},{54,58}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man11.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,653},{46,60}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man12.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,745},{60,58}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{70,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>man22.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,497},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>man23.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,506},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man24.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,591},{60,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man25.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,681},{60,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man26.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,789},{58,74}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man27.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,452},{36,70}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man28.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,134},{30,32}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man32.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,815},{72,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{72,111}</string>
            </dict>
            <key>man33.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,928},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>man34.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,490},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>man35.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,587},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>man36.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,414},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>man41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{44,4}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,4}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man42.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,247},{44,8}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,8}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man43.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,260},{44,14}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man44.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,950},{34,22}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man45.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,506},{48,48}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man46.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,896},{60,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>man51.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,587},{44,60}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man52.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,587},{54,52}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>man53.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,191},{68,30}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>man61.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,577},{34,66}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man62.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,452},{34,74}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>man63.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,495},{42,90}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>pause01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,452},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>pause02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,979},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>score01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,645},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,815},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,166},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,979},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>star04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,979},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,482},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>stopsign01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{116,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,149}}</string>
                <key>sourceSize</key>
                <string>{116,149}</string>
            </dict>
            <key>trap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,497},{88,34}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>trap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,497},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{78,66}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>trap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,497},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a304e7879c7255cad933ab778d06f1b$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
