<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,265},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>flash02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,157},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{126,106}</string>
            </dict>
            <key>flash03.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>flash04.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,269},{203,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,111}}</string>
                <key>sourceSize</key>
                <string>{203,111}</string>
            </dict>
            <key>flash05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,156}}</string>
                <key>sourceSize</key>
                <string>{248,156}</string>
            </dict>
            <key>ground31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{113,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,265}}</string>
                <key>sourceSize</key>
                <string>{113,265}</string>
            </dict>
            <key>ground32.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{117,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,265}}</string>
                <key>sourceSize</key>
                <string>{117,265}</string>
            </dict>
            <key>ground33.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,382},{106,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,265}}</string>
                <key>sourceSize</key>
                <string>{106,265}</string>
            </dict>
            <key>ground34.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,160},{108,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,265}}</string>
                <key>sourceSize</key>
                <string>{108,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce195e1f76e77555ad75a46f3a6ee15c$</string>
            <key>textureFileName</key>
            <string>sprite3.png</string>
        </dict>
    </dict>
</plist>
